*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Background colors */
    /* background: linear-gradient(120deg, #2193b0, #6dd5ed); */ 
    /* background: linear-gradient(135deg, #a18cd1, #fbc2eb); */
    /* background: linear-gradient(135deg, #f6d365, #fda805); */
    /* background: linear-gradient(135deg, #141e30, #243b55); */
    /* background: linear-gradient(135deg, #a8edea, #fed6e3); */
    background: linear-gradient(135deg, #00c6ff, #0072ff);
}
.head{
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 5em;
    margin-top: 20px;
    padding: 30px;
    top: 0;
    text-align: center;
    color: #fff;  
}
@media (max-width: 700px){
    h1{
        font-size: 2em;
    }
}
.home{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: center;
    
    
}
.card{
    position: relative;
    width: 350px;
    height: 85px;
    background: #79d6df;
    border-radius: 20px;
    filter: drop-shadow(-20px 20px 40px #398cc055);
    transition: 0.5s ease-in-out;
    margin-top: 30px;
}
.card.active{
    height: 420px;
}

.toggle{
    position: absolute;
    width: 70px;
    height: 60px;
    background: #79d6df;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    cursor: pointer;
}
.toggle::before{
    content: '';
    position: absolute;
    left: -34px;
    width: 35px;
    height: 35px;
    background: transparent;
    border-top-right-radius:35px;
    box-shadow: 11px -10px 0 10px #79d6df;
}
.toggle::after{
    content: '';
    position: absolute;
    right: -34px;
    width: 35px;
    height: 35px;
    background: transparent;
    border-top-left-radius:35px;
    /* box-shadow: -11px -10px 0 10px #398cc0; */
    box-shadow: -11px -10px 0 10px #79d6df;
}
.toggle span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%) rotate(405deg);
    width: 10px;
    height: 10px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    transition: 0.5s ease-in-out;
}
.card.active .toggle span{
    transform: translate(-50%, -70%) rotate(225deg);
}
.content-box{
    position: absolute;
    inset: 0;
    overflow: hidden;
}
.content-box .content{
    position: relative;
    padding: 20px;
    text-align: center;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content-box .content h2{
    color: #fff;
    font-weight: 500;
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 1.1em;
}
.content-box .content span{
    font-size: 0.75em;
    font-weight: 400;
    text-transform: initial;
}
.imgbx{
    position: relative;
    width: 250px;
    height: 250px;
    background: #fff;
    margin-top: 20px;
    box-shadow: -10px 10px 10px rgba(0,0,0,0.15);
    border: 5PX solid #fff;
}
.imgbx img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.content button{
    position: relative;
    margin-top: 20px;
    padding: 10px 35px;
    border-radius: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 500;
    box-shadow: -10px 10px 10px rgba(0,0,0,0.15);
}